.content {
    height: max(30vh, 25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 45px);
    color: black;
}

.content h1 {
    font-size: max(3rem, 7vw);
}

.content span {
    font-size: 5rem;
    text-shadow: 1px 1px 2px white, 0 0 0.2em black;
}