*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: GideonRoman-Regular, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400
}

code {
    font-family: GideonRoman-Regular, sans-serif;
}

#root {
    position: relative;
    min-height: calc(100vh - 1px);
}

@font-face {
    font-family: 'GideonRoman-Regular';
    src: local('GideonRoman-Regular'), url(assets/fonts/GideonRoman-Regular.ttf) format('ttf');
}